@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import 'primeicons/primeicons.css';

:root {
  --color1: 26, 26, 25;
  --color2: 43, 59, 45;
  --color3: 73, 90, 73;
  --color4: 107, 123, 107;
  --color5: 142, 175, 142;
  --color6: 168, 194, 168;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oxanium', sans-serif;
  background-color: rgb(var(--color1));
  overflow-x: hidden;
  overflow-y: auto;
}

.spacer {
  width: 100%;
  height: 100%;
}
